
# development | production | test
NODE_ENV=development

# Port the API listens on
PORT=5000

MONGODB_URI=mongodb://localhost:27017/StellaLens

CORS_ORIGIN=http://localhost:3000

JWT_SECRET=

JWT_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=stellalens/products
